@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;700&display=swap');

.indexImg {
  grid-column: 1 / 7;
  grid-row: 1 / 10;
  background-image: url("https://github.com/solsepulveda/DEV004-burger-queen-api-client/blob/rama-sol/bq-project/public/burgerLogin.png?raw=true");
  border-radius: 0 0 0 25px;
  background-size: cover;  
  width: 102%;
}

.loginForm {
  grid-column: 7 / 10;
  grid-row: 1 / 10;
  background-color: white;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35% 0 50% 0;
}
  .loginForm input {
    border-radius: 10px;
    text-align: center;
    border-color: transparent;
    background-color: rgb(224, 224, 224);
    color: black;
    margin: 10px;
  }
  .loginForm button {
    background-color: #F5A929;
    width: 150px;
    height: 40px;
    box-shadow: 0px 30px 30px rgba(179, 179, 179, 0.15);
    border-radius: 30px;
    color: white;
    border: none;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
  }
  .loginForm h1 {
    background-color: transparent;
  }
  .loginForm p {
    background-color: transparent;
    color: red;
    font-size: 12px;
    margin-top: -40px;
  }