.nav {
  grid-column:  1 / 10;
  grid-row: 1 / 2 ;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 25px 25px 0px 0px;
}
  .nav h1 {
    background-color: transparent;
    padding: 0 15px;
    margin-top: 15px;
  }
  .nav a {
    background-color: transparent;
    color:white;
    padding: 0 5px;
    margin-top: 10px;
  }

.costumer {
  grid-column: 1 / 10;
  grid-row: 2 / 3;
  display: flex;
  align-content: center;
}
  .costumer label {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left:10px;
  }
  .costumer input {
    border-radius: 25px;
    margin: 15px;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 5px rgba(138, 137, 137, 0.727);
  }
  
.buttons {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  align-items: center;
}
  .buttons button {
    padding: 0 10px;
    background-color: #F5A929;
    color: white;
    border-radius: 25px;
    height: 30px;
    margin: 20px;
    border: none;
  }

.products {
  grid-column: 1 / 7;
  grid-row: 4 / 10;
  padding: 15px 30px;
  align-items: center;
}
  .products-card {   
    display: flex;
    flex-direction: row;
    align-items: center;
  }
    .product {
      height: 250px;
      width: 150px;
      margin: 0 15px;
      border-color: rgb(181, 173, 173);
      border-style: solid;
      border-width: 2px;
      border-radius: 25px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .product h4 {
      width: 120px;
      height: 55px;
      padding: 0 10px;
      margin: 10px 0;
      text-align: center;
      display: inline-block;
    }
    .product img {
      height: 80px;
      padding-bottom: 10px;
    }
    .product p {
      align-self: end;
      margin: 0 10px;
      padding-bottom: 10px;
    }
    .product button {
      align-self: center;
      border-radius: 25px;
      margin-bottom: 10px;
      width: 80px;
      background-color: #F5A929;
      color: white;
      border-radius: 25px;
      height: 30px;
      border: none;
    }

.orders {
  grid-column: 7 / 10;
  grid-row: 4 / 10;
  padding: 15px 30px;
  background-color: white;
  border-color: rgb(181, 173, 173);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
  .orders button {
    align-self: center;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 120px;
    background-color: #F5A929;
    color: white;
    border-radius: 25px;
    height: 30px;
    border: none;
  }